$primary: #2c0fef;
$accent: lighten($primary, 20%);
$secondary: rgb(255, 176, 29);
$text-color: #393649;
$white: #fff;
$btn-color: $primary;
$nav-link-color: #393649;
$heading-text-color: #5f5a76;
$radius: 4px;
$nav-height: 75px;
$header-height: 770 - $nav-height;
$nav-shadow: 0 4px 16px 0 rgba(57, 54, 73, 0.13);
$trish-logo-width: 140px;
$trish-logo-height: 63px;