:root {
  --primary: #2c0fef;
  --accent: #806ef6;
  --secondary: #ffb01d;
  --text-color: #393649;
  --white: #fff;
  --btn-color: #2c0fef;
  --nav-link-color: #393649;
  --heading-text-color: #5f5a76;
  --radius: 4px;
  --nav-height: 75px;
  --header-height: 695px;
  --nav-shadow: 0 4px 16px 0 rgba(57, 54, 73, 0.13);
  --trish-logo-width: 140px;
  --trish-logo-height: 63px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.form {
  padding: 20px;
  width: 100%;
}

.form .heading {
  padding: 30px 0;
}

.form .space {
  width: 50px;
}

.form .field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .field label {
  margin: 12px 0;
  font-size: 0.7em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  text-transform: uppercase;
}

.form .field input, .form .field textarea {
  padding: 12px;
  border: 1px solid #eee;
  border-radius: var(--radius);
  width: 100%;
}

.form .field textarea {
  height: 120px;
}

.form button {
  margin: 20px 0;
  width: 240px;
}

.flex_1 {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

.middle {
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .78em;
  font-weight: 600;
  border-radius: var(--radius);
}

.btn--outline {
  background: transparent;
  border: 1.3px solid var(--btn-color);
  color: var(--btn-color);
  text-shadow: 0px 0px 1px #806ef6;
}

.btn--fill {
  border: 1px solid var(--btn-color);
  background: var(--btn-color);
  color: var(--white);
}

.card {
  padding: 30px;
  box-sizing: border-box;
  background: var(--white);
  box-shadow: var(--nav-shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
}

section {
  overflow: hidden;
}

header {
  height: var(--header-height);
  position: relative;
  background: url("../assets/header.png") no-repeat;
  background-size: cover;
}

header .backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.4);
}

header .menus {
  background: var(--accent);
  z-index: -80;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--nav-height);
  border-bottom: 4px solid var(--white);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10%);
  transition: all 500ms ease-in-out;
}

header .menus .important {
  background: var(--secondary);
}

header .menus.open {
  visibility: visible;
  opacity: 1;
  display: inline-block;
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}

header .menus a {
  padding: 15px 30px;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid #563ef3;
  transition: all 500ms ease-in-out;
}

header .menus a:last-child {
  border: none;
}

header .menus a:hover, header .menus a:focus {
  background: var(--primary);
  transition: all 500ms ease-in-out;
}

header nav {
  display: flex;
  height: var(--nav-height);
  background: var(--white);
  box-shadow: var(--nav-shadow);
  position: relative;
  z-index: 99;
}

header nav .left {
  display: inline-flex;
}

header nav .left a {
  text-decoration: none;
}

header nav .left .logo {
  width: var(--trish-logo-width);
  height: var(--trish-logo-height);
}

header nav .left .logo span {
  width: 45px;
  height: 45px;
  background: #333;
  margin-right: 6px;
  border-radius: var(--radius);
}

header nav .left .logo [title] {
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
  text-transform: capitalize;
}

header nav .left .logo [description] {
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--accent);
  text-transform: capitalize;
}

header nav .left .links {
  display: inline-flex;
}

header nav .left .links a {
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: .8em;
  font-weight: 600;
  transition: all 500ms ease-in-out;
}

header nav .left .links a:hover {
  color: var(--primary);
  transition: all 500ms ease-in-out;
}

header nav .right {
  display: inline-flex;
  align-items: center;
}

header nav .right a.link {
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: .8em;
  font-weight: 600;
  transition: all 500ms ease-in-out;
  margin-right: 6px;
}

header nav .right a.link:hover {
  color: var(--primary);
  transition: all 500ms ease-in-out;
}

header nav .right a.menu-toggle {
  width: 45px;
  height: 45px;
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
  visibility: hidden;
}

header nav .right a.menu-toggle:hover .bar-wrapper > .bar {
  width: 25px;
  transition: all 300ms ease-in-out;
}

header nav .right a.menu-toggle.clicked .bar-wrapper > .bar {
  width: 25px;
}

header nav .right a.menu-toggle.clicked .bar-wrapper > .bar:first-child {
  transform: translate(0px, 4px) rotate(45deg);
}

header nav .right a.menu-toggle.clicked .bar-wrapper > .bar:nth-child(2) {
  transform: scale(0);
}

header nav .right a.menu-toggle.clicked .bar-wrapper > .bar:last-child {
  transform: translate(0px, -6px) rotate(-45deg);
}

header nav .right a.menu-toggle .bar {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: var(--white);
  align-self: flex-start;
  transition: all 500ms;
}

header nav .right a.menu-toggle .bar:nth-child(2) {
  width: 20px;
  margin: 3px 0;
}

header nav .right a.menu-toggle .bar:last-child {
  width: 15px;
}

header .content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  z-index: 10;
}

header .content .hero {
  text-align: center;
  color: var(--white);
}

header .content .hero h2 {
  margin: 18px 0;
  text-transform: uppercase;
  font-size: xlarge;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

header .content .hero p {
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
  text-align: center;
}

header .content .actions {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .content .actions a {
  padding: 12px 35px;
  margin-right: 6px;
}

header .content .actions a > div > span[play-icon] {
  width: 30px;
  height: 30px;
  background: url("../assets/play-button-inside-a-circle.svg") no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin: 0 12px;
}

header .content .actions a > div > span {
  color: var(--white);
}

section#test {
  padding: 80px 0;
  background: var(--white) url("../assets/landing-page-image.svg") no-repeat;
  background-size: contain;
  background-position: bottom;
}

section#test .feature-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#test .feature-outline h2 {
  font-size: 1.8em;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--heading-text-color);
}

section#test .feature-outline .features {
  padding: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

section#test .feature-outline .features .feature {
  max-width: 200px;
  margin: 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#test .feature-outline .features .feature [illustration] {
  width: 64px;
  height: 100px;
  margin: 6px 0;
}

section#test .feature-outline .features .feature [title] {
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#test .feature-outline .features .feature [description] {
  text-align: center;
  margin: 6px 0;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#test .feature-outline .features .feature:first-child > [illustration] {
  background: url("../assets/teacher.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#test .feature-outline .features .feature:nth-child(2) > [illustration] {
  background: url("../assets/archive.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#test .feature-outline .features .feature:last-child > [illustration] {
  background: url("../assets/chat.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#test .types-of-tests {
  display: flex;
  flex-direction: row;
}

section#test .types-of-tests .group:nth-child(2) {
  margin: 0 20px;
  position: relative;
  top: 40px;
}

section#test .types-of-tests .group .card {
  width: 300px;
  margin: 30px 0;
  position: relative;
}

section#test .types-of-tests .group .card .badge {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: var(--btn-color);
  background: url("../assets/icon.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#test .types-of-tests .group .card [title] {
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  letter-spacing: -0.6px;
}

section#test .types-of-tests .group .card [description] {
  margin: 12px 0;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#test .types-of-tests .group .card .btn.btn--outline {
  padding: 12px 6px;
  width: 140px;
}

section#how-it-works {
  background: url("../assets/bg-1.svg") no-repeat;
  background-size: contain;
  background-position: top;
}

section#how-it-works .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  padding-bottom: 0;
}

section#how-it-works .head [title] {
  font-size: xlarge;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--heading-text-color);
}

section#how-it-works .head [description] {
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  text-align: center;
}

section#how-it-works .head .steps-preview {
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section#how-it-works .head .steps-preview .step {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
}

section#how-it-works .head .steps-preview .step [illustration] {
  display: inline-block;
  width: 200px;
  height: 120px;
}

section#how-it-works .head .steps-preview .step [description] {
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  text-align: center;
  margin: 16px 0;
}

section#how-it-works .head .steps-preview .step:first-child > [illustration] {
  background: url("../assets/1.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#how-it-works .head .steps-preview .step:nth-child(2) [illustration] {
  background: url("../assets/2.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

section#how-it-works .head .steps-preview .step:last-child > [illustration] {
  background: url("../assets/3.png") no-repeat;
  background-size: contain;
  background-position: center;
}

section#how-it-works .head .divide {
  width: 450px;
  height: 1px;
  background: var(--heading-text-color);
  display: block;
}

section#how-it-works .head .info {
  padding: 60px 0;
}

section#how-it-works .head .info h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--heading-text-color);
}

section#how-it-works .head .info p {
  text-align: center;
  margin: 6px 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#how-it-works .detailed-steps {
  max-width: 65vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 0;
}

section#how-it-works .detailed-steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

section#how-it-works .detailed-steps .step .margin {
  margin-right: 40px !important;
}

section#how-it-works .detailed-steps .step img {
  object-fit: contain;
}

section#how-it-works .detailed-steps .step .details {
  align-self: flex-start;
  margin: 40px 0;
}

section#how-it-works .detailed-steps .step .details .divide {
  width: 25px;
  height: 2px;
  background: var(--accent);
  display: block;
}

section#how-it-works .detailed-steps .step .details [title] {
  position: relative;
  left: 16px;
  margin: 6px 0;
  font-size: 0.8em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  letter-spacing: 0.4px;
}

section#how-it-works .detailed-steps .step .details [description] {
  position: relative;
  left: 16px;
  margin: 6px 0;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#how-it-works .more-info {
  width: 100%;
  height: 300px;
  background: var(--white);
  margin: 40px 0;
}

section#how-it-works .more-info .content {
  padding: 20px 40px;
}

section#how-it-works .more-info .content [title] {
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#how-it-works .more-info .content [description] {
  margin: 24px 0;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#how-it-works .more-info .content a {
  margin: 16px 0;
}

section#testimonial {
  background: url("../assets/bg-2.svg") no-repeat;
  background-size: cover;
  background-position: top;
}

section#testimonial .heading {
  padding: 80px 0;
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

section#testimonial .heading h1 {
  font-size: xlarge;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--heading-text-color);
}

section#testimonial .heading p {
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#testimonial .content {
  max-width: 60vw;
  width: 100%;
  margin: auto;
}

section#testimonial .content .detailed-steps {
  max-width: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 0;
}

section#testimonial .content .detailed-steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
}

section#testimonial .content .detailed-steps .step .margin {
  margin-right: 50px !important;
}

section#testimonial .content .detailed-steps .step .image {
  position: relative;
}

section#testimonial .content .detailed-steps .step .image img {
  object-fit: contain;
  position: relative;
  z-index: 99;
}

section#testimonial .content .detailed-steps .step .image span.pattern {
  background: url("../assets/pattern-bg.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 290px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 40px;
  right: -30px;
}

section#testimonial .content .detailed-steps .step .details {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

section#testimonial .content .detailed-steps .step .details span.flex_1 {
  height: 20px;
  display: block;
}

section#testimonial .content .detailed-steps .step .details [title] {
  margin: 6px 0;
  font-size: 1.4em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
  letter-spacing: 0.4px;
}

section#testimonial .content .detailed-steps .step .details [description] {
  margin: 2px 0;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color);
}

section#testimonial .content .detailed-steps .step .details span.accent {
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--accent);
}

section#get-in-touch {
  padding: 40px 0;
}

section#get-in-touch img {
  align-self: flex-end;
}

section#stay-in-touch {
  padding: 40px;
}

section#stay-in-touch .wrapper {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

section#stay-in-touch .wrapper .form {
  padding: 0;
}

section#stay-in-touch .wrapper .form button {
  width: 100%;
}

section#stay-in-touch .wrapper .field label {
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 900px) {
  header nav .left > .links {
    display: none;
  }
  header nav .right .link, header nav .right .btn {
    display: none;
    visibility: hidden;
  }
  header nav .right a.menu-toggle {
    display: inline-flex;
    visibility: visible;
  }
  section#how-it-works .detailed-steps {
    max-width: 90vw;
  }
  section#testimonial .content {
    max-width: 90vw;
  }
  section#testimonial .content .card .detailed-steps {
    max-width: 70vw;
  }
}

@media screen and (max-width: 850px) {
  section#test .feature-outline .features {
    padding-left: 0;
    padding-right: 0;
  }
  section#test .feature-outline .features .feature {
    max-width: 240px;
    margin: 0 20px;
  }
  section#testimonial .content {
    max-width: 100vw;
  }
  section#testimonial .content .card .detailed-steps {
    max-width: 90vw;
  }
  section#testimonial .content .card .detailed-steps .step .image img {
    width: 200px;
  }
  section#testimonial .content .card .detailed-steps .step .image span {
    width: 200px;
    top: -7px;
    right: -15px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 96%;
  }
  section#test .types-of-tests {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
  }
  section#test .types-of-tests::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  section#test .types-of-tests .group {
    display: flex;
    flex-direction: row;
  }
  section#test .types-of-tests .group:nth-child(2) {
    margin: 0;
    top: 0;
  }
  section#test .types-of-tests .group .card {
    margin: 0 10px;
  }
}
